alabaster==0.7.12
appdirs==1.4.4
astroid==2.4.2
attrs==21.2.0
Babel==2.9.1
build==0.3.1.post1
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
decorator==4.4.2
distlib==0.3.1
dnspython==1.16.0
docopt==0.6.2
docutils==0.16
fett==0.3.2
filelock==3.0.12
git+https://github.com/jputrino/nginx-sphinx.git
idna==2.10
imagesize==1.2.0
isort==5.7.0
Jinja2==2.11.3
lazy-object-proxy==1.4.3
livereload==2.6.3
markdown-it-py==1.1.0
MarkupSafe==1.1.1
mccabe==0.6.1
mdit-py-plugins==0.2.8
myst-parser==0.14.0
networkx==2.5
packaging==20.9
pep517==0.10.0
Pygments==2.9.0
pylint==2.6.2
pymongo==3.11.3
pyparsing==2.4.7
python-jsonrpc-server==0.3.4
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
six==1.15.0
snooty-lextudio==1.8.9.dev0
snowballstemmer==2.1.0
Sphinx==3.5.4
sphinx-autobuild==2021.3.14
sphinx-sitemap==2.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
toml==0.10.2
tornado==6.1
typing-extensions==3.7.4.3
ujson==1.35
urllib3==1.26.3
virtualenv==20.4.5
watchdog==1.0.2
wrapt==1.12.1
